table {
  border: 1px solid rgb(15, 15, 15);
  margin-right: 1.5em;
}
table tr {
  border: 1px solid rgb(15, 15, 15);
}
table td {
  border: 1px solid rgb(15, 15, 15);
}
form {
  margin: 1em 0 1em 0;
}
.email {
  margin: 1em 0 1em 0;
}
#email {
  margin: 1em 0 1em 0;
}
#test{
  width: 30px;
}
